/* ----------------------------- 
        RESET
----------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

html,
body {
  height: 100vh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ----------------------------- 
        GLOBAL
----------------------------- */

.search-page-container {
  max-height: 100vh;
  overflow-y: scroll;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.search-options {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.badges-container {
  display: flex;
  justify-content: center;
}

.badge {
  margin: 0.5rem;
  padding: 5%;
}
